name: Bundler Audit

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  bundler-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true

      - run: gem install bundler-audit

      - run: bundle audit check --update
